#header {
    background-color:pink;
    opacity: 0.9;
    color: white;
    text-align: center;
    padding: 5px;
    height: 400px;
    padding-top: 300px;
}
textarea {
   resize: none;
}
#owl {
	position: relative;
	top: 170px;
	left: -140px;
}
body {
	background: owl.png;
}
#philly {
	position: relative;
	top: 100px;
}
#textPlace {
	position: relative;
	top: -250px;
}