#header {
    background-color:pink;
    opacity: 0.9;
    color: white;
    text-align: center;
    padding: 5px;
    height: 400px;
    padding-top: 300px;
}
textarea {
   resize: none;
}
#owl {
	position: absolute;
	top: 40%;
	left: 40%;
}
body {
	background: owl.png;
}